<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CollegeCheck.Properties.Settings.CollegeMarkConnectionString"
            connectionString="Data Source=DESKTOP-950AHKG\SQLEXPRESS01;Initial Catalog=CollegeMark;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>